.emotion_img img {
  transform:          rotate(90def);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}

body {
    background-color: rgb(255, 0, 0);
}

h1 a {
    color: #FCA205;
}
