/*
index.html page
*/

.span2 {
	width:10%;
}
.text-center {
	width:50%;
	margin: 10%;
}

/*
guessemotions.html
*/
p {
    text-align: center;  
}


/*
guess emotion page
*/

.emotion_img{
	/*position: absolute;
	top: 32.5%;*/
	left: 52%;
	width: 500px;
	height: 500px;
  margin-top:-10%;
	margin-left: -22.5%; /* Half the width */
}
.row {
    margin-top:5%;
    margin:5%;
}

span {
    display: inline-block; /*center buttons*/
    width: 85%;
    margin-top:5%;
}

.question_box {
	text-align: center;
  margin-top:50%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: green;
    margin-bottom:0.5%;
}

.button {
    width:50%;
    border:1px solid #900;
    margin-top:5%;
    line-height:20px;
}

.emotion_img img {
  transform:          rotate(90def);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}