{% extends "base_generic.html" %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thesis project</title>
  <meta property="og:title" content="Thesis"/>
  <meta property="og:description" content="Lizzie's Senior Thesis (project)" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC6VFPqIsdF2BwR82O9zoGOAftdVgsR7NI",
    authDomain: "mythical-envoy-138318.firebaseapp.com",
    databaseURL: "https://mythical-envoy-138318.firebaseio.com",
    projectId: "mythical-envoy-138318",
    storageBucket: "mythical-envoy-138318.appspot.com",
    messagingSenderId: "780186137580"
  };
  firebase.initializeApp(config);
</script>
</head>
<body>
<form action= "{% url 'save_gif_2' %}" method="get">
  <div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
</br>
</br>
<div style = "text-align:center">
<video id="angry" loop muted autoplay>
<source src = "http://res.cloudinary.com/lizziepika/video/upload/c_scale,w_156/v1520258803/angryvid.mp4" type='video/mp4'>
</video>
</br>
</br>
<span><input type="radio" name="giftheysay1" id="happy" value="happy">"I'm so happy I passed a tough exam!"</input></span>
        <span><input type="radio" name="giftheysay1" id="scared" value="scared" >"AAH! I just saw a spider and I hate spiders!"</input></span>
        <span><input type="radio" name="giftheysay1" id="angry" value="angry">"SOMEONE TOOK MY LUCKY SOCKS! I can't believe this!!"</input></span>
        <span><input type="radio" name="giftheysay1" id="sad" value="sad" >"My flight to Hawaii was just canceled..."</input></span>
</div>
</div>
</br>
</br>
<div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
</br>
</br>
<div style="text-align:center">
<video id="surprised" loop muted autoplay>
<source src = "http://res.cloudinary.com/lizziepika/video/upload/c_scale,w_156/v1520258944/surprisedvid.mp4" width="100" height = "100" type='video/mp4'>
</video>
</br>
</br>
<span><input type="radio" name="giftheysay2" id="sad" value="sad">"That movie made me cry so much!"</input></span>
        <span><input type="radio" name="giftheysay2" id="happy" value="happy">"That is my favorite book!"</input></span>
        <span><input type="radio" name="giftheysay2" id="surprised" value="surprised">"My best friend said WHAT??? I can't believe that!"</input></span>
        <span><input type="radio" name="giftheysay2" id="angry" value="angry" >"How rude of them!"</input></span>
</div>
</div>
</br>
</br>
<div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
    </br>
    </br>
    <div style="text-align:center">
        <video id="disgusted" loop muted autoplay>
<source src = "http://res.cloudinary.com/lizziepika/video/upload/c_scale,w_156/v1520276960/disgustedvid.mp4" type='video/mp4'>
</video>
</br>
</br>
<span><input type="radio" name="giftheysay3" id="disgusted" value="disgusted">"That's appalling! How dare she!"</input></span>
 <span><input type="radio" name="giftheysay3" id="happy" value="happy">"Nice to see you, friend! How are you doing?"</input></span>
        <span><input type="radio" name="giftheysay3" id="sad" value="sad">"I can't believe my parents won't let me have a slumber party."</input></span>
        <span><input type="radio" name="giftheysay3" id="scared" value="scared" >"I thought I saw a ghost..."</input></span>
</div>
</div>
</br>
</br>
<div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
   </br>
   </br>
<div style="text-align:center">
   <video id="joy" loop muted autoplay>
<source src = "http://res.cloudinary.com/lizziepika/video/upload/c_scale,w_156/v1520258944/happyvid.mp4" type='video/mp4'>
</video>
</br>
</br>
<span><input type="radio" name="giftheysay4" id="sad" value="sad">"I can't believe my mom won't let me attend the slumber party."</input></span>
        <span><input type="radio" name="giftheysay4" id="angry" value="angry">"I'm so mad that bully took my lunch."</input></span>
        <span><input type="radio" name="giftheysay4" id="happy" value="happy">"It was great catching up with my old kindergarten teacher."</input></span>
        <span><input type="radio" name="giftheysay4" id="scared" value="scared" >"I need the light turned on because that horror movie frightened me so much."</input></span>
</div>
</div>
</br>
</br>
<div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
    </br>
    </br>
    <div style="text-align:center">
        <video id="sad" loop muted autoplay>
<source src = "http://res.cloudinary.com/lizziepika/video/upload/c_scale,w_156/v1520258944/sadvid.mp4" type='video/mp4'>
</video>
</br>
</br>
<span><input type="radio" name="giftheysay5" id="disgusted" value="disgusted">"He ate moldy cheese? EW!"</input></span>
        <span><input type="radio" name="giftheysay5" id="sad" value="sad">"I'm so sad I lost two games of Monopoly to my cousin."</input></span>
        <span><input type="radio" name="giftheysay5" id="scared" value="scared">"I hear a rustling of leaves outside the window but there's no wind...it could be a ghost!"</input></span>
        <span><input type="radio" name="giftheysay5" id="happy" value="happy">"I can't believe we'll be seeing each other for the first time since preschool!"</input></span>
</div>
</div>
</br>
</br>
<div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
    </br>
    </br>
    <div style="text-align:center">
      <video id="scared" loop muted autoplay>
<source src = "http://res.cloudinary.com/lizziepika/video/upload/c_scale,w_156/v1520258944/scaredvid.mp4" type='video/mp4'>
</video>
</br>
</br>
<span><input type="radio" name="giftheysay6" id="scared" value="scared">"I just came from a haunted house, it was terrifying."</input></span>
        <span><input type="radio" name="giftheysay6" id="happy" value="happy">"I'm in a good mood because I just got a care package from my grandma!"</input></span>
        <span><input type="radio" name="giftheysay6" id="disgusted" value="disgusted">"I can't believe myself, how dumb of me to put C when the answer was clearly A?"</input></span>
        <span><input type="radio" name="giftheysay6" id="angry" value="angry">"I'm so mad my teacher won't give me an extension on my paper, grr."</input></span>
</div>
</div>
</br>
</br>
<div style="text-align:center"><input type = "submit" value = "send" id = "submitJson" onclick="returnJsonTop();"></div>
</form>
<script>
var database= firebase.database();
var ref = firebase.database().ref();
var qg1 = $('input[name=giftheysay1]:checked').val();
var qg2 = $('input[name=giftheysay2]:checked').val();
var qg3 = $('input[name=giftheysay3]:checked').val();
var qg4 = $('input[name=giftheysay4]:checked').val();
var qg5 = $('input[name=questiongif5]:checked').val();
var qg6 = $('input[name=giftheysay6]:checked').val();
var guess_say_gif_arr = [qg1, qg2, qg3, qg4, qg5, qg6];
var myJsonString = JSON.stringify(guess_say_gif_arr);
function returnJsonTop(){
    if(!$('input[name=giftheysay1]:checked').length) {
        alert("Please answer question 1");
    }
    else if(!$('input[name=giftheysay2]:checked').length) {
        alert("Please answer question 2");
    }
    else if (!$('input[name=giftheysay3]:checked').length) {
        alert("Please answer question 3");
    }
    else if (!$('input[name=giftheysay4]:checked').length) {
        alert("Please answer question 4");
    }
    else if (!$('input[name=giftheysay5]:checked').length) {
        alert("Please answer question 5");
    }
    else if (!$('input[name=giftheysay6]:checked').length) {
        alert("Please answer question 6");
    }
else {
        $.ajax({
          method: 'POST',
          url: '/django_project/json/',
          dataType: 'json',
          data: myJsonString
        });
        //writeUserData();
        //window.location =
    }
}
function writeUserData(userId, name) {
    firebase.database().ref('users/' + userId).set({
    username: name,
        answers: myJsonString
    });
}
</script>
</body>
{% endblock %}
