<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thesis project</title>
  <!--<script src="https://use.fontawesome.com/799b913516.js"></script>-->
  <link rel="stylesheet" href="../index.css" type="text/css" />
  <meta property="og:title" content="Thesis home"/>
  <meta property="og:description" content="Lizzie's Senior Thesis (project)" />
  <!-- i c o n s -->  
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href ="style.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="text-center" margin-top="10%">
<p>This first web application will test your knowledge of emotions through the usage of static images.
    </p>
<a href = "guess_emotion_1"><button class="btn btn-lg btn-block" type="button">Guess Which Emotion</button></a>
<a href = "guess_thinking_1"><button class="btn btn-lg btn-block" type="button">What Might They Be Saying?</button></a></div>
<a href = "guess_suggest_1"><button class="btn btn-lg btn-block " type="button">What Could I Say?</button></a>
</div>

</body>
</html> 
