<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thesis project</title>
  <meta property="og:title" content="Thesis"/>
  <meta property="og:description" content="Lizzie's Senior Thesis (project)" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC6VFPqIsdF2BwR82O9zoGOAftdVgsR7NI",
    authDomain: "mythical-envoy-138318.firebaseapp.com",
    databaseURL: "https://mythical-envoy-138318.firebaseio.com",
    projectId: "mythical-envoy-138318",
    storageBucket: "mythical-envoy-138318.appspot.com",
    messagingSenderId: "780186137580"
  };
  firebase.initializeApp(config);
</script>
<style>

</style>
</head>
<body>
<form action= "{% url 'save_static_1' %}" method="get">
  <div class="question_box" style="text-align:center"><h3 class="h3">What emotion is this girl feeling?</h3>
    {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/joy.jpeg'  %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>        
    <span><input type="radio" name="question1" id="happy" value="happy">Happy</input></span>
        <span><input type="radio" name="question1" id="sad" value="sad" >Sad</input></span>
        <span><input type="radio" name="question1" id="angry" value="angry">Angry</input></span>
        <span><input type="radio" name="question1" id="scared" value="scared" >Scared</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What emotion is this girl feeling?</h3>
    {% load static %} <div style="text-align:center"><img src="{% static '../static/images/static_images/sad.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
      <span><input type="radio" name="question2" id="angry" value="angry">Angry</input></span>
        <span><input type="radio" name="question2" id="sad" value="sad" >Sad</input></span>
        <span><input type="radio" name="question2" id="scared" value="scared">Scared</input></span>
        <span><input type="radio" name="question2" id="happy" value="happy" >Happy</input></span> 
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What emotion is this girl feeling?</h3>
    {% load static %} <div style="text-align:center"><img src="{% static '../static/images/static_images/angry.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="question3" id="angry" value="angry">Angry</input></span>
        <span><input type="radio" name="question3" id="scared" value="scared" >Scared</input></span>
        <span><input type="radio" name="question3" id="happy" value="happy">Happy</input></span>
        <span><input type="radio" name="question3" id="sad" value="sad" >Sad</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What emotion is this girl feeling?</h3>
    {% load static %} <div style="text-align:center"><img src="{% static '../static/images/static_images/scared.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="question4" id="sad" value="sad">Sad</input></span>
        <span><input type="radio" name="question4" id="scared" value="scared" >Scared</input></span>
        <span><input type="radio" name="question4" id="angry" value="angry">Angry</input></span>
        <span><input type="radio" name="question4" id="happy" value="happy" >Happy</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What emotion is this girl feeling?</h3>
    {% load static %} <div style="text-align:center"><img src="{% static '../static/images/static_images/surprised.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="question5" id="surprised" value="surprised">Surprised</input></span>
        <span><input type="radio" name="question5" id="sad" value="sad" >Sad</input></span>
        <span><input type="radio" name="question5" id="angry" value="angry">Angry</input></span>
        <span><input type="radio" name="question5" id="scared" value="scared" >Scared</input></span>
</div>
</div>      
<div class="question_box" style="text-align:center"><h3 class="h3">What emotion is this girl feeling?</h3>
    {% load static %} <div style="text-align:center"><img src="{% static '../static/images/static_images/disgusted.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="question6" id="scared" value="scared">Scared</input></span>
        <span><input type="radio" name="question6" id="happy" value="happy" >Happy</input></span>
        <span><input type="radio" name="question6" id="surprised" value="surprised">Surprised</input></span>
        <span><input type="radio" name="question6" id="disgusted" value="disgusted" >Disgusted</input></span>
</div>
</div>
<div style="text-align:center"><input type = "submit" value = "send" id = "submitJson" onclick="returnJsonTop();"></div>
</form>
<script>
var database= firebase.database();
var ref = firebase.database().ref();
var q1 = $('input[name=question1]:checked').val();
var q2 = $('input[name=question2]:checked').val();
var q3 = $('input[name=question3]:checked').val();
var q4 = $('input[name=question4]:checked').val();
var q5 = $('input[name=question5]:checked').val();
var q6 = $('input[name=question6]:checked').val();
var guess_emotions_static_arr = [q1, q2, q3, q4, q5, q6];
var myJsonString = JSON.stringify(guess_emotions_static_arr);
function returnJsonTop(){
    if(!$('input[name=question1]:checked').length) {
        alert("Please answer question 1");
    }
    else if(!$('input[name=question2]:checked').length) {
        alert("Please answer question 2");
    }
    else if (!$('input[name=question3]:checked').length) {
        alert("Please answer question 3");
    }
    else if (!$('input[name=question4]:checked').length) {
        alert("Please answer question 4");
    }
    else if (!$('input[name=question5]:checked').length) {
        alert("Please answer question 5");
    }
    else if (!$('input[name=question6]:checked').length) {
        alert("Please answer question 6");
    }
    else {
        $.ajax({
            method: 'POST',
            url: '/django_project/json/',
            dataType: 'json',
            data: myJsonString
        });
        //writeUserData(); 
    }        
}
function writeUserData(userId, name) {
    firebase.database().ref('users/' + userId).set({
        username: name,
        answers: myJsonString
    });
}
</script>
</body>
</html>
