<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thesis project</title>
  <meta property="og:title" content="Thesis"/>
  <meta property="og:description" content="Lizzie's Senior Thesis (project)" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC6VFPqIsdF2BwR82O9zoGOAftdVgsR7NI",
    authDomain: "mythical-envoy-138318.firebaseapp.com",
    databaseURL: "https://mythical-envoy-138318.firebaseio.com",
    projectId: "mythical-envoy-138318",
    storageBucket: "mythical-envoy-138318.appspot.com",
    messagingSenderId: "780186137580"
  };
  firebase.initializeApp(config);
</script>
<style>
</style>
</head>
<body>
<form action= "{% url 'save_static_2' %}" method="get">
  <div class="question_box" style="text-align:center"><h3 class="h3">What might this girl say?</h3>
    {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/angry.jpeg' %}"margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>       
      <span><input type="radio" name="questiontheysay1" id="happy" value="happy">"I'm so happy I passed a tough exam!"</input></span>
      <span><input type="radio" name="questiontheysay1" id="scared" value="scared" >"AAH! I just saw a spider and I hate spiders!"</input></span>
      <span><input type="radio" name="questiontheysay1" id="angry" value="angry">"SOMEONE TOOK MY LUCKY SOCKS! I can't believe this!!"</input></span>
      <span><input type="radio" name="questiontheysay1" id="sad" value="sad" >"My flight to Hawaii was just canceled..."</input></span>
    </div>
    </div>
  <div class="question_box" style="text-align:center">
      <h3 class="h3">What might this girl say?</h3>
    {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/surprised.jpeg' %}"margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
    <span><input type="radio" name="questiontheysay2" id="sad" value="sad" >"Mmm, that smells really yummy!"</input></span>
        <span><input type="radio" name="questiontheysay2" id="happy" value="happy">"That was a really good movie!"</input></span>
        <span><input type="radio" name="questiontheysay2" id="surprised" value="surprised" >"My best friend said WHAT??? I can't believe that!"</input></span>
        <span><input type="radio" name="questiontheysay2" id="angry" value="angry">"How rude!"</input></span>
  </div>
  </div>
  <div class="question_box" style="text-align:center">
    <h3 class="h3">What might this girl say?</h3>
     {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/disgusted.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
    <span><input type="radio" name="questiontheysay3" id="disgusted" value="disgusted">"How dare they! I'm appalled!"</input></span>
        <span><input type="radio" name="questiontheysay3" id="happy" value="happy">"Nice to see you, friend! How are you doing?"</input></span>
        <span><input type="radio" name="questiontheysay3" id="sad" value="sad" >"I can't believe my mom won't let me have a slumber party."</input></span>
        <span><input type="radio" name="questiontheysay3" id="scared" value="scared" >"I thought I saw a ghost..."</input></span>
  </div>
  </div>
    <div class="question_box" style="text-align:center">
    <h3 class="h3">What might this girl say?</h3>
     {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/joy.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
    <span><input type="radio" name="questiontheysay4" id="sad" value="sad" >"I can't believe my mom won't let me have a slumber party."</input></span>
        <span><input type="radio" name="questiontheysay4" id="angry" value="angry">"They took my lunch! How dare they!"</input></span>
        <span><input type="radio" name="questiontheysay4" id="happy" value="happy">"Nice to see you, friend! How are you doing?"</input></span>
        <span><input type="radio" name="questiontheysay4" id="scared" value="scared" >"I just watched a horror movie...wow"</input></span>
  </div>
  </div>
  <div class="question_box" style="text-align:center">
    <h3 class="h3">What might this girl say?</h3>
     {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/sad.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
    <span><input type="radio" name="questiontheysay5" id="disgusted" value="disgusted">"He ate moldy cheese? EW!"</input></span>
        <span><input type="radio" name="questiontheysay5" id="sad" value="sad" >"I can't believe my brother beat me in Monopoly."</input></span>
        <span><input type="radio" name="questiontheysay5" id="scared" value="scared" >"I thought I saw a ghost..."</input></span>
        <span><input type="radio" name="questiontheysay5" id="happy" value="happy">"I can't believe this is the first time we're seeing each other in ten years! This is so great!"</input></span>
  </div>  
  </div>
  <div class="question_box" style="text-align:center">
    <h3 class="h3">What might this girl say?</h3>
     {% load static %} <div style="text-align:center"><img src="{%static '../static/images/static_images/scared.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
    <span><input type="radio" name="questiontheysay6" id="sad" value="sad" >"My dog just died."</input></span>
        <span><input type="radio" name="questiontheysay6" id="happy" value="happy">"My brother just mailed me a care package, he's so sweet."</input></span>
        <span><input type="radio" name="questiontheysay6" id="disgusted" value="disgusted" >"I'm so disgusted with myself, I can't believe I put 'C' when the answer was obviously 'D'"</input></span>
         <span><input type="radio" name="questiontheysay6" id="angry" value="angry">"I'm so mad my professor won't raise my grade enough, ugh."</input></span>
  </div>
  </div>
  <div style="text-align:center"><input type = "submit" value = "send" id = "submitJson" onclick="returnJsonTop();"></div>
</form>
<script>
var database= firebase.database();
var ref = firebase.database().ref();
var q1 = $('input[name=questiontheysay1]:checked').val();
var q2 = $('input[name=questiontheysay2]:checked').val();
var q3 = $('input[name=questiontheysay3]:checked').val();
var q4 = $('input[name=questiontheysay4]:checked').val();
var q5 = $('input[name=questiontheysay5]:checked').val();
var q6 = $('input[name=questiontheysay6]:checked').val();
var guess_they_say_static_arr = [q1, q2, q3, q4, q5, q6];
var myJsonString = JSON.stringify(guess_they_say_static_arr);
function returnJsonTop(){
    if(!$('input[name=questiontheysay1]:checked').length) {
        alert("Please answer question 1");
    }
    else if(!$('input[name=questiontheysay2]:checked').length) {
        alert("Please answer question 2");
    }
    else if (!$('input[name=questiontheysay3]:checked').length) {
        alert("Please answer question 3");
    }
    else if (!$('input[name=questiontheysay4]:checked').length) {
        alert("Please answer question 4");
    }
    else if (!$('input[name=questiontheysay5]:checked').length) {
        alert("Please answer question 5");
    }
    else if (!$('input[name=questiontheysay6]:checked').length) {
        alert("Please answer question 6");
    }
    else {
        $.ajax({
            method: 'POST',
            url: '/django_project/json/',
            dataType: 'json',
            data: myJsonString
        });
        writeUserData();
    }
}
function writeUserData(userId, name) {
    firebase.database().ref('users/' + userId).set({
        username: name,
        answers: myJsonString
    });
}
</script>
</body>
</html>
