<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thesis project</title>
  <meta property="og:title" content="Thesis"/>
  <meta property="og:description" content="Lizzie's Senior Thesis (project)" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC6VFPqIsdF2BwR82O9zoGOAftdVgsR7NI",
    authDomain: "mythical-envoy-138318.firebaseapp.com",
    databaseURL: "https://mythical-envoy-138318.firebaseio.com",
    projectId: "mythical-envoy-138318",
    storageBucket: "mythical-envoy-138318.appspot.com",
    messagingSenderId: "780186137580"
  };
  firebase.initializeApp(config);
</script>
<style>
</style>
</head>
<body>
<form action= "{% url 'save_static_3' %}" method="get">
  <div class="question_box" style="text-align:center"><h3 class="h3">What might you say to this girl?</h3>
    {% load static %} <div class = "aQuestion"style="text-align:center"><img src="{% static '../static/images/static_images/angry.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
        <span><input type="radio" name="questionsay1" id="sad" value="sad">"There, there, it'll be okay."</input></span>
        <span><input type="radio" name="questionsay1" id="happy" value="happy" >"That's great news! I'm happy for you."</input></span>
        <span><input type="radio" name="questionsay1" id="scared" value="scared">"Why would I kill that spider, I'm scared of them too!"</input></span>
        <span><input type="radio" name="questionsay1" id="angry" value="angry" >"Okay, deep breath...now tell me who made you so mad."</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What might you say to this person?</h3>
    {% load static %} <div class = "aQuestion" style="text-align:center"><img src="{% static '../static/images/static_images/joy.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
      <span><input type="radio" name="questionsay2" id="happy" value="happy">"Congratulations!"</input></span>
        <span><input type="radio" name="questionsay2" id="angry" value="angry" >"You have every right to be angry..."</input></span>
        <span><input type="radio" name="questionsay2" id="scared" value="scared">"Oof, that horror movie frightened me too."</input></span>
        <span><input type="radio" name="questionsay2" id="sad" value="sad">"I'm sorry your aunt passed away."</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What might you say to this person?</h3>
{% load static %} <div class = "aQuestion" style="text-align:center"><img src="{% static '../static/images/static_images/sad.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="questionsay3" id="angry" value="angry">"I would be mad too if my lunch got stolen like yours."</input></span>
        <span><input type="radio" name="questionsay3" id="sad" value="sad" >"My condolences for your loss."</input></span>
        <span><input type="radio" name="questionsay3" id="happy" value="happy">"I'm happy for you too!"</input></span>
        <span><input type="radio" name="questionsay3" id="scared" value="scared" >"Is there a big, scary wolf behind me?"</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What might you say to this person?</h3>
    {% load static %} <div class = "aQuestion" style="text-align:center"><img src="{% static '../static/images/static_images/disgusted.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="questionsay4" id="disgusted" value="disgusted">"I hate spiders, uch."</input></span>
        <span><input type="radio" name="questionsay4" id="happy" value="happy" >"Way to go!"</input></span>
        <span><input type="radio" name="questionsay4" id="surprised" value="surprised">"Wow, you got a good grade after not doing any of the homework or studying? I'm shocked!"</input></span>
        <span><input type="radio" name="questionsay4" id="angry" value="angry">"Wowwww...I'd be so mad if I were in your position and that happened to me, too..."</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What might you say to this person?</h3>
    {% load static %} <div class = "aQuestion" style="text-align:center"><img src="{% static '../static/images/static_images/surprised.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="questionsay5" id="happy" value="happy">"I haven't seen you smile so much in a while!"</input></span>
        <span><input type="radio" name="questionsay5" id="sad" value="sad">"You look like your dog just died"</input></span>
        <span><input type="radio" name="questionsay5" id="angry" value="angry">"You should be mad if someone took your sandwich!"</input></span>
        <span><input type="radio" name="questionsay5" id="surprised" value="surprised">"I was so surprised to see my kindergarten teacher at the grocery store...what were the chances of that?"</input></span>
</div>
</div>
<div class="question_box" style="text-align:center"><h3 class="h3">What might you say to this person?</h3>
    {% load static %} <div class = "aQuestion" style="text-align:center"><img src="{% static '../static/images/static_images/scared.jpeg' %}" margin-top: "-25%" margin-bottom: "40px" height="300" width="300"/><br>
<span><input type="radio" name="questionsay6" id="surprised" value="surprised">"You're giving me a present for no reason? That's so unexpected!"</input></span>
        <span><input type="radio" name="questionsay6" id="sad" value="sad">"Did you not pass the test, either? You look like you studied a lot and were disappointed..."</input></span>
        <span><input type="radio" name="questionsay6" id="scared" value="scared">"That horror movie frightened me so much."</input></span>
        <span><input type="radio" name="questionsay6" id="happy" value="happy" >"You got your first-choice internship! Wow!"</input></span>
</div>
</div>
<div style="text-align:center"><input type = "submit" value = "send" id = "submitJson" onclick="returnJsonTop();"></div>
</form>
<script>
var database= firebase.database();
var ref = firebase.database().ref();
var q1 = $("input[name='questionsay1']:checked").val();
var q2 = $("input[name='questionsay2']:checked").val();
var q3 = $("input[name='questionsay3']:checked").val();
var q4 = $("input[name='questionsay4']:checked").val();
var q5 = $("input[name='questionsay5']:checked").val();
var q6 = $("input[name='questionsay6']:checked").val();
var answers_static_arr = [q1, q2, q3, q4, q5, q6];
//check each radio button is clicked
function returnJsonTop() {
    if(!$('input[name=questionsay1]:checked').length) {
        alert("Please answer question1");
    }
    else if(!$('input[name=questionsay2]:checked').length) {
        alert("Please answer question2");
    }
    else if (!$('input[name=questionsay3]:checked').length) {
        alert("Please answer question3");
    }
    else if (!$('input[name=questionsay4]:checked').length) {
        alert("Please answer question4");
    }
    else if (!$('input[name=questionsay5]:checked').length) {
        alert("Please answer question5");
    }
    else if (!$('input[name=questionsay6]:checked').length) {
        alert("Please answer question6");
    }
    else {
        var myJsonString = JSON.stringify(answers_static_arr);
        $.ajax({
            method: 'POST',
            url: '/django_project/json/',
            dataType: 'json',
            data: myJsonString
        });
        //writeUserData();
        window.location = "../gif_index";
    }
}
</script>
</body>
</html>
