<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thesis project</title>
  <meta property="og:title" content="Thesis"/>
  <meta property="og:description" content="Lizzie's Senior Thesis (project)" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<style>
.emotion_img img {
  transform:          rotate(90def);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: green;
    margin-bottom:0.5%;
}
.button {
    width:50%;
    border:1px solid #900;
    margin-top:5%;
    line-height:20px;
}

</style>
</head>
<body>
 <div class="question_box"><h3 class="h3">What might this person say?</h3>
